table{
    margin: auto;
}

h1{
    text-align: center;
}
td{
    height: 100px;
    width: 100px;
    margin: 0;
}

.leftright{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#topbottom td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}